@import 'variables';

a,.transation{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
#template-editor{
	margin-top:16px;
	padding: 32px;
	opacity: .2;
	pointer-events:none;
	&.active{
		opacity: 1!important;
		pointer-events:initial;
	}
}
.editor-wrapper{
	margin: 12px 0px;
	.editor-body{
		min-height:100vh;
		position: relative;
		border: 1px dashed #ccc;
		padding-bottom:64px;
	}
}
.accordion{
	.accordion-title{
	    border-bottom: 1px solid #ededed;
	    padding-bottom: 8px;
	}
	.accordion-body{
		padding: 8px 0px;
		position:relative;
	}
}
.drop-hover{
	background:rgba(yellow,.2);
	min-height:80px;
}

// -- tool
.element{	
	[class*="col-"]{
		border: 1px dashed #ccc;
	}
	&.element-checkbox,&.element-radio{
		display:table;
		float:left;
		margin: 0px 3px 3px 0px;
	}
	position:relative;
	&:not(.element-input):not(.element-button):not(.element-radio):not(.element-checkbox):not(.element-select){
		min-height:80px;
		border: 1px dashed #ccc;
	}
	.content-editable{
		width: 100%;
		min-height:inherit;
	}
	.height-inherit{
		min-height:inherit;
	}
	&:hover{
		border:1px solid #0099ff;
		@include box-shadow(1);
	}
	.tools{
		position: absolute;
	    top: -8px;
	    left:0px;
	    z-index:100;
	    width:100%;
	    min-width:60px;
	    height: 0px;
	    display:flex;
	    align-items:center;
	    justify-content:center;
	    .edit-tool,.delete-tool,.move-tool{
	    	float:left;
		    width: 20px;
		    height: 20px;
		    margin: 3px;
		    background: #0099ff;
		    color: #FFF;
		    font-size: 11px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    @include radius('circle');
		    cursor: pointer;
		    text-decoration: none;
		    &:hover{
				text-decoration: none;
				@include box-shadow(2);
				transform: scale(1.1);
		    }
		}
	}
	
}
#floating-btns{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:100;
	background: #FFF;
	border-bottom:1px solid #ededed;
	padding: 8px 0px;
}
.editor-tool{
	width: 250px;
    background: #FFF;
    @include box_shadow(1);
    height: 100vh;
    top: 0px;
    left: -260px;
    z-index: 999;
    display:block;
	position: fixed;
    .editor-tool-body{
    	padding: 64px 0px 12px 0px;
	    height:100vh;
	    .tool{
	    	width: 84px;
	    	margin: 2px;
	    	height: 50px;
	    	display: inline-flex;
	    	align-items: center;
	    	justify-content: center;
	    	padding: 5px;
		    padding: 8px 16px;
		    border: 1px solid #ededed;
		    cursor:pointer;
		    @include radius(5);
		    &:hover{
		    	background: #ededed;
		    	@include box-shadow(2);
		    }
	    }
    }

    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;

    &.active{ 
    	left: 0px;

		-webkit-animation-name: toolboxactive;
		-webkit-animation-duration: 500ms;
		-webkit-animation-fill-mode: forwards;

		animation-name: toolboxactive;
		animation-duration: 500ms;
		animation-fill-mode: forwards;

    	.editor-tool-trigger{
    		transform: scale(1.30) rotate(135deg);
		    background: #FFF;
		    color: #0099FF;
			
			-webkit-animation-name: toolboxactive2;
			-webkit-animation-duration: 500ms;
			-webkit-animation-fill-mode: forwards;

			animation-name: toolboxactive2;
			animation-duration: 500ms;
			animation-fill-mode: forwards;

		}
    }
	.editor-tool-trigger,.editor-tool-settings{
	    width: 50px;
	    height: 50px;
	    background: #0099FF;
	    color: #FFFFFF;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 50%;
	    position: absolute;
	    top: 10px;
	    right: -70px;
	    box-shadow: 0 10px 40px -6px rgba(0,0,0,0.1);
	    text-decoration: none;

	    -webkit-animation-duration: 500ms;
	    -moz-animation-duration: 500ms;
	    -o-animation-duration: 500ms;
	    animation-duration: 500ms;
	}	
}

// -- droppable
.droppable{
	min-height: 80px;
	border: 1px dashed #ccc;
}
.ui-state-highlight{
	background: rgba(#ededed,.3);
}

// -- modal
.editor-modal{
	height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.3);
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    padding:24px;
    display:none;
	opacity:0;
	&.active{
		display:flex;
		-webkit-animation-name: modalanim;
		-webkit-animation-duration: 500ms;
		-webkit-animation-fill-mode: forwards;

		animation-name: modalanim;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
    }
    .editor-modal-body{
	    width: 600px;
	    min-height: 100px;
	    background: #FFF;
	    padding:32px;
	    position: relative;
	    @include radius(5);
	    @include box-shadow(1);
	    @include media($xs){
			width:95%;
	    }
	    .editor-modal-contents{
	    	margin-top:12px;
	    }
	    .editor-close-btn{
	    	display:block;
	    	position: absolute;
		    right: 16px;
		    top: 16px;
		    color: #242424;
		    opacity: .5;
		    font-size: 15px;
		    &:hover{
				transform: rotate(90deg);
		    }
		    &:hover,&:active,&:visited{
		    	text-decoration:none;
		    }
	    }
    }
}
@-webkit-keyframes toolboxactive{
	0%{
		left: -260px;
	}
	100%{
		opacity: 1px;
	}
}
@keyframes toolboxactive{
	0%{
		left: -260px;
	}
	100%{
		opacity: 1px;
	}
}

@-webkit-keyframes toolboxactive2{
	0%{
		right: -70px;
		opacity: 1;
	}
	50%{
		opacity: .5;
	}
	100%{
		right: -20px;
		opacity: 1;
		width: 35px;
		height: 35px;
	}
}
@keyframes toolboxactive2{
	0%{
		right: -70px;
		opacity: 1;
	}
	50%{
		opacity: .5;
	}
	100%{
		right: -20px;
		opacity: 1;
		width: 35px;
		height: 35px;
	}
}

@-webkit-keyframes modalanim{
	0%{
		opacity: 0;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}
@keyframes modalanim{
	0%{
		opacity: 0;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}

// -- wb tab
.wbtab{
	border: 1px solid #ddd;
	margin-bottom:8px;
	.wbtab-header{
		display:block;
		width:100%;
		ul{
			display: table;
			width:100%;
			padding: 0px;
			border-bottom:1px solid #ddd;
			li{
				float:left;
				border-right:1px solid #ddd;
				list-style:none;
				a{
					display:block;
					padding: 4px 8px;
					text-decoration:none;
					color:#242424;
					&:hover{
						background:#ddd;
					}
					&:visited,&:active{
						background: none;
						color:#242424;
					}
				}
				&.active a{
					background:#ddd;
				}
				&:last-child{
					border-right:none!important;
				}
			}
		}
	}
	.wbtab-contents .wbtab-content{
		padding: 16px;
		display:none;
		width:100%;
		&.active{
			display:block!important;
		}
	}
}
// -- disable tinymce notification
.tox.tox-tinymce-aux{ display:none!important;}

// -- custom resources
.custom-resources{
	padding:0px;
	li{
		list-style:none;
	}
	.badge{
		border:none!important;
		cursor: pointer;
	}
}